<div class="min-h-screen flex bg-[#0c0e12] relative overflow-hidden">
  
  <div class="w-full lg:w-1/2 flex items-center justify-center p-8 z-10">
    <div class="max-w-md w-full">
      <router-outlet (activate)="onComponentActivate($event)"></router-outlet>
    </div>
  </div>

  <div class="hidden lg:block w-1/2 h-screen relative overflow-hidden border-l border-gray-700 p-4">
    <img [src]="imagenDinamica" alt="Moto RoarMot" 
         class="h-full w-full object-cover duration-700 rounded-2xl transition-all">
    
    <div class="bg-gradient-to-l from-transparent to-[#0c0e1271]"></div>
  </div>

</div>