<!-- app.component.html -->
<app-header></app-header>


<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-lg border-t-4 border-blue-500">
    <h1 class="text-2xl font-bold text-gray-800">¡Proyecto Roarmot!</h1>
    
    <p class="mt-4 text-gray-600">
      Respuesta del Backend: 
      <span class="font-mono text-blue-600">{{ dataFromDjango?.mensaje }}</span>
    </p>

    <div class="mt-6 flex gap-4">
      <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">
        Estado: {{ dataFromDjango?.status || 'Esperando...' }}
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>