<div
  class="min-h-screen bg-gray-50 dark:bg-[#0a0a0b00] text-gray-900 dark:text-white p-6 md:p-10 font-sans transition-colors duration-500">

  <div class="max-w-[1400px] mx-auto relative">

    <header class="flex justify-between items-end mb-6 border-b border-gray-200 dark:border-white/5 pb-4 ">
      <div>
        <h1 class="font-bebas text-3xl tracking-[0.3em] text-gray-800 dark:text-white/90">
          MATRIZ <span class="text-rose-600">MECÁNICA</span>
        </h1>
        <p class="text-[12px] uppercase tracking-[0.2em] text-gray-500 italic">Inspección de sistemas</p>
      </div>
      <div class="text-right">
        <span class="text-[10px] text-gray-400 dark:text-gray-600 uppercase font-bold">Protocolo: Activo</span>
      </div>
    </header>

    <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-5 gap-5 items-start">

      <div
        class="col-span-1 md:col-span-4 lg:col-span-1 bg-white dark:bg-[#111] border border-gray-200 dark:border-[#222] rounded-2xl p-4 flex lg:flex-col gap-2 overflow-x-auto shadow-sm dark:shadow-none">
        <button *ngFor="let moto of motos; let i = index" (click)="seleccionarMoto(moto)"
          [class.bg-rose-600]="moto === motoSeleccionada" [class.text-white]="moto === motoSeleccionada"
          class="w-10 h-10 flex-shrink-0 rounded-xl bg-gray-100 dark:bg-[#1a1a1a] text-gray-500 hover:bg-rose-500 hover:text-white transition-all font-bold text-lg flex items-center justify-center border border-transparent dark:border-[#333]">
          {{ i + 1 }}
        </button>
      </div>

      <div
        class="col-span-1 md:col-span-2 lg:col-span-2 bg-white dark:bg-[#111] border border-gray-200 dark:border-[#222] hover:border-rose-500 dark:hover:border-rose-950 rounded-2xl p-0 overflow-hidden shadow-lg dark:shadow-none transition-all group">
        <div class="relative h-48">
          <img [src]="motoSeleccionada?.displayImage"
            class="w-full h-full object-cover grayscale-[0.5] group-hover:grayscale-0 transition-all duration-700">

          <div
            class="absolute inset-0 bg-gradient-to-t from-white/95 dark:from-black/80 via-transparent to-transparent">
          </div>

          <div
            class="absolute bottom-3 left-3 right-3 p-3 bg-white/90 dark:bg-black/40 backdrop-blur-md rounded-xl border border-gray-200 dark:border-[#333] shadow-sm">

            <div class="flex gap-2 mb-2" *ngIf="motoSeleccionada">
              <span
                [ngClass]="verificarVigencia(motoSeleccionada.soat_moto).estado === 'vencido' ? 'bg-rose-500/20 text-rose-600 border-rose-500/30' : 'bg-emerald-500/10 text-emerald-600 border-emerald-500/20'"
                class="text-[10px] font-bold uppercase tracking-tighter px-2 py-0.5 rounded border">
                SOAT: {{ verificarVigencia(motoSeleccionada.soat_moto).estado === 'vencido' ? 'VENCIDO' : 'AL DÍA' }}
              </span>
              <span
                [ngClass]="verificarVigencia(motoSeleccionada.tecnomecanica).estado === 'vencido' ? 'bg-rose-500/20 text-rose-600 border-rose-500/30' : 'bg-emerald-500/10 text-emerald-600 border-emerald-500/20'"
                class="text-[10px] font-bold uppercase tracking-tighter px-2 py-0.5 rounded border">
                TECNO: {{ verificarVigencia(motoSeleccionada.tecnomecanica).estado === 'vencido' ? 'VENCIDO' : 'AL DÍA'
                }}
              </span>
            </div>

            <div class="flex justify-between items-end">
              <div>
                <p class="text-[10px] text-gray-400 dark:text-gray-500 uppercase tracking-widest leading-none">
                  {{ motoSeleccionada?.marca_moto || 'Marca' }}
                </p>
                <h2 class="font-bold text-lg tracking-tight text-gray-800 dark:text-gray-300">
                  {{ motoSeleccionada?.placa_moto || 'SELECCIONAR' }}
                </h2>
              </div>
              <div class="text-right">
                <p class="text-[10px] text-gray-400 dark:text-gray-500 uppercase font-bold leading-none">Odómetro</p>
                <p class="font-vt323 text-xl text-emerald-600 dark:text-emerald-500">
                  {{ kilometrajeActual | number }} KM
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Contenerdor de resumen tecnico -->
      <div
        class="col-span-1 md:col-span-2 lg:col-span-2 bg-white dark:bg-[#111] border border-gray-200 dark:border-[#222]  rounded-2xl p-6 h-auto min-h-[14rem] flex flex-col justify-between shadow-sm dark:shadow-none transition-all duration-300 hover:border-rose-500 dark:hover:border-rose-950 hover:shadow-md group">

        <div class="flex justify-between items-start">
          <div class="flex flex-col">
            <h3 class="text-xs uppercase tracking-wider text-gray-500 dark:text-gray-400 font-bold">Resumen Técnico</h3>
            <span *ngIf="alertasActuales.length > 1"
              class="text-[10px] text-rose-500 font-bold uppercase mt-1 animate-pulse">
              Alerta {{ indiceAlerta + 1 }} de {{ alertasActuales.length }}
            </span>
          </div>

          <div [ngClass]="{
        'bg-emerald-100 dark:bg-emerald-600/10 border-emerald-200 dark:border-emerald-500/20 text-emerald-600 dark:text-emerald-500': alertasActuales[indiceAlerta].estado === 'optimo',
        'bg-amber-100 dark:bg-amber-600/10 border-amber-200 dark:border-amber-500/20 text-amber-600 dark:text-amber-500': alertasActuales[indiceAlerta].estado === 'preventivo',
        'bg-rose-100 dark:bg-rose-600/10 border-rose-200 dark:border-rose-500/20 text-rose-600 dark:text-rose-500': alertasActuales[indiceAlerta].estado === 'critico'
      }" class="px-3 py-1 border text-[9px] uppercase font-bold rounded-full transition-colors">
            {{ alertasActuales[indiceAlerta].estado === 'optimo' ? 'Sistemas OK' : 'Atención Requerida' }}
          </div>
        </div>

        <div class="mt-3 min-h-[80px]">
          <p [ngClass]="{
        'text-rose-600': alertasActuales[indiceAlerta].estado === 'critico',
        'text-amber-500': alertasActuales[indiceAlerta].estado === 'preventivo',
        'text-emerald-500': alertasActuales[indiceAlerta].estado === 'optimo'
      }" class="text-[10px] font-bold uppercase tracking-widest mb-1 transition-colors duration-500">
            {{ alertasActuales[indiceAlerta].titulo }}
          </p>

          <p class="text-sm text-gray-600 dark:text-gray-400 leading-relaxed transition-opacity duration-500">
            {{ alertasActuales[indiceAlerta].mensaje }}
          </p>

          <p *ngIf="alertasActuales[indiceAlerta].recomendacion" class="text-[11px] text-gray-500 italic mt-2">
            <span class="font-bold text-gray-700 dark:text-gray-300 uppercase">Sugerencia:</span>
            {{ alertasActuales[indiceAlerta].recomendacion }}
          </p>
        </div>

        <div
          *ngIf="alertasActuales[indiceAlerta].costoEstimado !== '-' || alertasActuales[indiceAlerta].tiempoEstimado !== '-'"
          class="mt-4 grid grid-cols-2 gap-4 border-t border-gray-100 dark:border-white/5 pt-3">

          <div>
            <p class="text-[9px] uppercase text-gray-400 font-bold tracking-tighter">Inversión Aprox.</p>
            <p class="text-[12px] text-gray-700 dark:text-gray-300 font-mono font-bold">
              {{ alertasActuales[indiceAlerta].costoEstimado }}
            </p>
          </div>

          <div>
            <p class="text-[9px] uppercase text-gray-400 font-bold tracking-tighter">Tiempo en Taller</p>
            <p class="text-[12px] text-gray-700 dark:text-gray-300 font-mono font-bold">
              {{ alertasActuales[indiceAlerta].tiempoEstimado }}
            </p>
          </div>
        </div>

        <div class="w-full h-1 bg-gray-100 dark:bg-white/5 rounded-full overflow-hidden mt-4">
          <div [style.width.%]="porcentajeSaludGeneral"
            [ngClass]="porcentajeSaludGeneral > 80 ? 'bg-emerald-500' : porcentajeSaludGeneral > 40 ? 'bg-amber-500' : 'bg-rose-600'"
            class="h-full transition-all duration-1000 ease-out">
          </div>
        </div>
      </div>

      <div class="col-span-1 md:col-span-2 lg:col-span-1 bg-white dark:bg-[#111] border border-gray-200 dark:border-[#222] rounded-2xl p-5 shadow-sm
         group transition-all hover:border-rose-500 dark:hover:border-rose-950 hover:shadow-md">
        <h3
          class="text-[12px] uppercase tracking-widest text-gray-400 font-bold mb-4 border-b border-gray-100 dark:border-white/5 pb-2">
          Estatus Legal</h3>
        <div class="space-y-4">
          <div class="flex justify-between items-center">
            <div>
              <p class="text-xs font-bold text-gray-700 dark:text-gray-300">SOAT</p>
              <p class="text-[12px] text-gray-500">{{ motoSeleccionada?.soat_moto }}</p>
            </div>
            <span
              [ngClass]="verificarVigencia(motoSeleccionada?.soat_moto).estado === 'ok' ? 'text-emerald-500' : 'text-rose-500'"
              class="text-[12px] font-mono font-bold">
              {{ verificarVigencia(motoSeleccionada?.soat_moto).dias }} DÍAS
            </span>
          </div>
          <div class="flex justify-between items-center">
            <div>
              <p class="text-xs font-bold text-gray-700 dark:text-gray-300">Técnico-Mecánica</p>
              <p class="text-[12px] text-gray-500">{{ motoSeleccionada?.tecnomecanica }}</p>
            </div>
            <span
              [ngClass]="verificarVigencia(motoSeleccionada?.tecnomecanica).estado === 'ok' ? 'text-emerald-500' : 'text-rose-500'"
              class="text-[12px] font-mono font-bold">
              {{ verificarVigencia(motoSeleccionada?.tecnomecanica).dias }} DÍAS
            </span>
          </div>
        </div>
      </div>

      <div class="col-span-1 md:col-span-2 lg:col-span-1 bg-gray-950 p-5 rounded-2xl border border-white/5 flex flex-col justify-between
         group transition-all hover:border-yellow-500 dark:hover:border-yellow-900 hover:shadow-[0_0_12px_rgba(225,29,72,0.3)]">
        <div>
          <h3 class="text-[12px] uppercase tracking-widest text-yellow-500 font-bold mb-2">Integridad Total</h3>
          <p class="text-4xl font-bebas text-white tracking-widest transition-colors group-hover:text-yellow-400">{{
            porcentajeSaludGeneral }}%</p>
        </div>
        <div class="w-full h-1 bg-white/10 rounded-full mt-2 overflow-hidden">
          <div class="h-full bg-yellow-500 transition-all duration-1000" [style.width.%]="porcentajeSaludGeneral"></div>
        </div>
        <p class="text-[11px] text-gray-500 mt-3 italic uppercase">Cálculo basado en sensores y alertas activas.</p>
      </div>

      <div *ngFor="let item of itemsManual"
        class="col-span-1 bg-white dark:bg-[#111] border border-gray-200 dark:border-[#222]  rounded-2xl p-5 h-36 flex flex-col justify-between group transition-all hover:border-rose-500 dark:hover:border-rose-950 hover:shadow-md dark:hover:shadow-none">

        <div class="flex justify-between items-start">
          <div>
            <h4 class="text-[12px] uppercase tracking-wider text-gray-600 dark:text-gray-500 font-bold leading-tight">
              {{ item.nombre }}
            </h4>
            <p class="text-[12px] text-gray-400 dark:text-gray-600 font-mono italic">
              INT: {{ item.intervalo | number }} KM
            </p>
          </div>

          <div class="w-1.5 h-1.5 rounded-full mt-1 transition-all duration-500" [ngClass]="{
           'bg-rose-600 shadow-[0_0_8px_rgba(225,29,72,0.5)]': getCalculo(item).estado === 'critico',
           'bg-amber-500 shadow-[0_0_8px_rgba(245,158,11,0.5)]': getCalculo(item).estado === 'preventivo',
           'bg-emerald-500': getCalculo(item).estado === 'optimo'
         }">
          </div>
        </div>

        <div class="space-y-1.5 border-t border-gray-100 dark:border-[#1a1a1a] pt-3">
          <div class="flex justify-between text-xs font-mono">
            <span class="text-gray-400 uppercase text-[10px]">Vida Útil</span>

            <span class="font-bold transition-colors" [ngClass]="{
              'text-rose-600': getCalculo(item).estado === 'critico',
              'text-amber-500': getCalculo(item).estado === 'preventivo',
              'text-emerald-600 dark:text-emerald-400': getCalculo(item).estado === 'optimo'
            }">
              {{ getCalculo(item).restantes | number }} KM
            </span>
          </div>

          <div class="w-full h-1 bg-gray-100 dark:bg-[#1a1a1a] rounded-full overflow-hidden">
            <div class="h-full transition-all duration-1000 ease-out" [style.width.%]="getCalculo(item).porcentaje"
              [ngClass]="{
             'bg-rose-600': getCalculo(item).estado === 'critico',
             'bg-amber-500': getCalculo(item).estado === 'preventivo',
             'bg-emerald-500': getCalculo(item).estado === 'optimo'
           }">
            </div>
          </div>

          <p *ngIf="getCalculo(item).vencido"
            class="text-[10px] text-rose-600 font-bold uppercase tracking-tighter animate-pulse">
            Mantenimiento Vencido
          </p>
        </div>
      </div>

    </div>
  </div>
</div>