<div class="min-h-screen bg-gray-50 dark:bg-roar-dark text-gray-900 dark:text-white font-sans overflow-x-hidden">

  <section class="max-w-7xl mx-auto p-2 md:p-2 relative">
    <div id="moto-sidebar">
      <button type="button" (click)="onBtnMasClick()" class="btn-sidebar-selector">
        <div class="btn-content-wrapper">
          <span class="text-agregar uppercase">Agregar Moto</span>
          <span class="icon-mas">+</span>
        </div>
      </button>

      <div class="w-8 h-[1px] bg-gray-300 dark:bg-gray-700/50 my-1 self-center"></div>

      <div class="flex flex-col gap-3">
        <button *ngFor="let moto of motos; let i = index" type="button" class="matriz-moto-btn"
          (click)="seleccionarMoto(moto)">
          <div class="btn-content-wrapper">
            <span class="matriz-placa uppercase">{{ moto.placa_moto }}</span>
            <span class="matriz-id">{{ i + 1 }}</span>
          </div>
        </button>
      </div>
    </div>

    <div class="bento-grid-layout mt-6">
      <div class="grid-box box-main-moto bg-white dark:bg-roar-card border-1-fino overflow-hidden relative p-0">
        <app-moto #motoComp (motoRegistrada)="onMotoRegistrada($event)"></app-moto>
      </div>

      <!-- Tips para moteros-->
      <div
        class="grid-box box-tips p-4 relative flex flex-col justify-between bg-gray-950 dark:bg-black/40 overflow-hidden">

        <div class="flex justify-between items-start mb-4">
          <div class="flex flex-col">
            <div class="flex items-center gap-4 mb-1">
              <span class="w-2 h-2 rounded-full bg-yellow-400 animate-pulse"></span>
              <h4 class="text-[13px] font-bold uppercase tracking-[0.3em] text-yellow-400">Sistema de Tips</h4>
            </div>
            <span class="tip-category-tag text-rose-500/70">
              // {{ tips[tipActualIndex].categoria }}
            </span>
          </div>

          <span class="font-mono text-[10px] text-gray-500">
            DAT_LOG [{{ tipActualIndex + 1 }}/{{ tips.length }}]
          </span>
        </div>

        <div class="flex-1 flex items-center transition-all duration-500"
          [ngClass]="{'opacity-100 translate-x-0': animarTip, 'opacity-0 -translate-x-8': !animarTip}">
          <p class="text-[16px] leading-relaxed text-gray-300 dark:text-gray-400 italic font-medium">
            "{{ tips[tipActualIndex].texto }}"
          </p>
        </div>

        <div class="mt-4 flex justify-end">
          <span class="text-[8px] uppercase tracking-widest text-gray-500 font-bold">
            RoarMot Engine v2.1
          </span>
        </div>

        <div class="tips-progress-bar transition-all duration-[8000ms] ease-linear"
          [style.width.%]="animarTip ? 100 : 0">
        </div>
      </div>
      <!-- FInal Tips para moteros-->

      <div class="grid-box box-productos bg-white dark:bg-roar-card border-1-fino p-6">
        <h4 class="text-xs mb-2 uppercase text-gray-400">Destacados</h4>
        <div
          class="h-10 w-full bg-gray-100 dark:bg-white/5 rounded-lg border border-dashed border-gray-300 dark:border-white/10 flex items-center justify-center">
          <span class="text-[8px] text-gray-400 uppercase">Próximamente</span>
        </div>
      </div>
    </div>
  </section>

  <section class="max-w-5xl mx-auto p-4 md:p-6 pb-12">
    <div class="flex items-center gap-4 mb-8">
      <div class="h-px flex-1 bg-gradient-to-r from-transparent via-gray-700 to-transparent"></div>
      <h3 class="font-bebas text-2xl text-gray-500 tracking-[0.3em] uppercase italic">Diagnóstico Mecánico</h3>
      <div class="h-px flex-1 bg-gradient-to-r from-transparent via-gray-700 to-transparent"></div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div (click)="irAMantenimientos()"
        class="md:col-span-2 bg-white/5 backdrop-blur-xl py-4 px-8 rounded-[1.5rem] border border-gray-300/10 shadow-2xl relative overflow-hidden group cursor-pointer">
        <div class="relative z-10">
          <p class="text-[10px] uppercase font-bold tracking-[0.4em] text-gray-500 mb-2">Diagnóstico del Sistema</p>
          <h2 class="font-bebas text-5xl text-gray-700 dark:text-white tracking-tighter uppercase leading-none mb-2">
            {{ getTituloEstado() }}
          </h2>

          <div class="flex items-center gap-3 mb-4 py-3 px-4 bg-black/20 rounded-2xl border-l-4" [ngClass]="{
            'border-red-600': porcentajeSalud <= 30,
            'border-yellow-500': porcentajeSalud > 30 && porcentajeSalud < 100,
            'border-emerald-500': porcentajeSalud === 100
          }">
            <p class="text-xs md:text-sm text-gray-300 font-medium leading-relaxed">
              <span class="text-white opacity-90">
                {{ alertas.length > 0 ? alertas[0].descripcion : 'Todos tus sistemas operando correctamente.' }}
              </span>
            </p>
          </div>

          <div class="space-y-2">
            <div class="flex justify-between items-end">
              <span class="text-[9px] uppercase tracking-[0.2em] text-gray-400 font-bold italic opacity-70">Integridad
                Total</span>
              <span class="text-xl font-bebas tracking-widest" [ngClass]="{
              'text-rose-500': porcentajeSalud <= 30,
              'text-yellow-500': porcentajeSalud > 30 && porcentajeSalud < 100,
              'text-emerald-500': porcentajeSalud === 100
            }">{{ porcentajeSalud }}%</span>
            </div>
            <div class="w-full h-1.5 bg-black/40 rounded-full overflow-hidden border border-white/10">
              <div class="h-full rounded-full transition-all duration-[1500ms]" [style.width.%]="porcentajeSalud"
                [ngClass]="{
                'bg-rose-600': porcentajeSalud <= 30,
                'bg-yellow-500': porcentajeSalud > 30 && porcentajeSalud < 100,
                'bg-emerald-500': porcentajeSalud === 100
              }"></div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="bg-gray-950 dark:bg-black/40 backdrop-blur-md p-6 rounded-[2.5rem] border border-white/5 flex flex-col justify-between">
        <div class="space-y-4">
          <p class="text-[10px] uppercase font-bold tracking-[0.3em] text-gray-500 border-b border-white/5 pb-2">
            Notificaciones</p>

          <div *ngIf="alertas.length === 0" class="py-4 text-center">
            <p class="text-[10px] text-emerald-500/50 uppercase italic tracking-widest">Sistemas sin novedad</p>
          </div>

          <div *ngFor="let alerta of alertas.slice(0, 2)"
            class="flex gap-3 items-start group border-b border-white/5 pb-3 last:border-0">
            <div class="mt-1.5 w-2 h-2 rounded-full shrink-0"
              [ngClass]="alerta.nivel_prioridad === 'critico' ? 'bg-red-600 animate-pulse' : 'bg-yellow-500'">
            </div>
            <div class="flex-1">
              <h4
                class="text-[11px] text-white font-bold uppercase tracking-wider leading-none mb-1 group-hover:text-yellow-500">
                {{ alerta.titulo }}
              </h4>
              <p class="text-[12px] text-gray-500 leading-snug">{{ alerta.descripcion }}</p>
            </div>
          </div>
        </div>

        <button (click)="irAMantenimientos()"
          class="w-full mt-4 py-3 bg-white/5 hover:bg-white/10 border border-white/10 rounded-xl text-[10px] text-gray-300 font-bold uppercase tracking-[0.2em] transition-all">
          Ver historial detallado
        </button>
      </div>
    </div>
  </section>

  <div id="roar-tooltip"
    class="fixed hidden z-[9999] w-64 px-4 py-3 text-[11px] font-sans text-gray-200 bg-[#1A242C] border-l-4 border-yellow-500 rounded-r-md shadow-2xl pointer-events-none transition-opacity duration-200"
    style="transform: translate(-50%, -100%); pointer-events: none;">
    <p id="roar-tooltip-text" class="leading-relaxed"></p>
    <div class="absolute top-full left-1/2 -translate-x-1/2 border-8 border-transparent border-t-[#1A242C]"></div>
  </div>

</div>